.App {
  background-image: url("https://www.pngitem.com/pimgs/m/13-131635_robot-png-thinking-robot-png-transparent-png.png");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.outer-app {
  transition: 0.2s all;
}
.outer-app-blur {
  filter: blur(15px);
}

.outer-app-blur button,
.outer-app-blur a {
  pointer-events: none;
}

.pop-up {
  z-index: 100;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 30px;
}
